---
title: Luca Bolognese Blog
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>

  <body>

    <header>
    <div id="header">

    </div>
    </header>

    <main>
    <div id="main">   
        {{ content | safe }}
    </div>
    </main>

    <footer>
    <div id="footer">

    </div>
    </footer>

  </body>
</html>